@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

html, body, #root {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    width: 100%;
    height: 100%;
    color: #494949;
}